.form_deg
{
    padding-top: 200px;
}
.label_deg
{
    display: inline-block;
    color: aqua;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login_form
{
    background-color: black;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;

}
.title_deg
{
    background-color: seagreen;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.body_deg
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body{
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("C:\xampp\htdocs\PROJECT\SCMS 4TH SEM\2image.jpeg");
    background-position: center;
    background-size: cover;
    position: sticky;
}